<% content_for :title, "Contact | Wiola Uliasz" %>
<div id="logo"><%= image_tag "logo.png", height: "50px" %></div>
<div id="contact_email" class="text-center">
<%= mail_to 'contact@wiolauliasz.com', 'contact@wiolauliasz.com' %>
</div>
<div id="contact_phone" class="text-center" title="Check my availability for your project!">
+48 668 042 575
</div>
<div id="contact_social" class="row text-center col-sm-8 col-sm-offset-2">
	<div class="col-sm-4 contact_fa">
		<a href="http://www.facebook.com/wiolauliasz" target="blank"  class="fa fa-facebook-official fa-3x" title="Visit my Facebook page." aria-hidden="true"></a>
	</div>
	<div class="col-sm-4 contact_fa">
		<a href="http://wuzwwa.tumblr.com" target="blank"  class="fa fa-tumblr-square fa-3x" aria-hidden="true" title="Visit my Tumblr page."></a>
	</div>
	<div class="col-sm-4 contact_fa">
		<a href="http://instagram.com/wiolauliasz" target="blank"  class="fa fa-instagram fa-3x" aria-hidden="true" title="Visit my Instagram page."></a>
	</div>
</div>
