@font-face {
    font-family: 'julius';
    src: url('julius/juliussansone-regular-webfont.eot');
    src: url('julius/juliussansone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('julius/juliussansone-regular-webfont.woff2') format('woff2'),
         url('julius/juliussansone-regular-webfont.woff') format('woff'),
         url('julius/juliussansone-regular-webfont.ttf') format('truetype'),
         url('julius/juliussansone-regular-webfont.svg#julius_sans_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gruppo';
    src: url('gruppo/gruppo-regular-webfont.eot');
    src: url('gruppo/gruppo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('gruppo/gruppo-regular-webfont.woff2') format('woff2'),
         url('gruppo/gruppo-regular-webfont.woff') format('woff'),
         url('gruppo/gruppo-regular-webfont.ttf') format('truetype'),
         url('gruppo/gruppo-regular-webfont.svg#grupporegular') format('svg');
    font-weight: normal;
    font-style: normal;

}